<launch>

<rosparam file="$(find diff_drive_bot_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="diff_drive_bot" args="Rev_right_position_controller Rev_left_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/diff_drive_bot/joint_states"/>
</node>

</launch>